/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

 @import '@fortawesome/fontawesome-free/css/all.css';

:root {
  --ifm-color-primary: #8b30e7;
  --ifm-color-primary-dark: #350ad2;
  --ifm-color-primary-darker: #3009bd;
  --ifm-color-primary-darkest: #270993;
  --ifm-color-primary-light: #4f1ffb;
  --ifm-color-primary-lighter: #6338fe;
  --ifm-color-primary-lightest: #6d46fb;

  --ifm-color-danger: #ff6188;
  --ifm-color-danger-dark: #ff3e6d;
  --ifm-color-danger-darker: #ff2c60;
  --ifm-color-danger-darkest: #f6003d;
  --ifm-color-danger-light: #ff84a3;
  --ifm-color-danger-lighter: #ff96b0;
  --ifm-color-danger-lightest: #ffcbd8;

  --ifm-color-success: 	#2ecc71;
  --ifm-color-success-dark: 	#229a54;
  --ifm-color-success-darker: #176e3c;
  --ifm-color-success-darkest: #10502c;
  --ifm-color-success-light: #35e67e;
  --ifm-color-success-lighter: #42ef8a;
  --ifm-color-success-lightest: #90ffbe;

  --ifm-color-info: #78dce8;
  --ifm-color-info-dark: #5ad4e3;
  --ifm-color-info-darker: #4bd0e0;
  --ifm-color-info-darkest: #24c0d3;
  --ifm-color-info-light: #96e4ed;
  --ifm-color-info-lighter: #a5e8f0;
  --ifm-color-info-lightest: #d2f3f7;

  --ifm-color-warning: #ffd866;
  --ifm-color-warning-dark: #ffcf42;
  --ifm-color-warning-darker: #ffca30;
  --ifm-color-warning-darkest: #faba00;
  --ifm-color-warning-light: #ffe18a;
  --ifm-color-warning-lighter: #ffe69c;
  --ifm-color-warning-lightest: #fff3d1;

  --ifm-background-color: #17181a !important;
  --ifm-background-surface-color: #17181a !important;
  --ifm-background-surface-color-secondary: #1b1d1f !important;
  --ifm-navbar-background-color: #141618 !important;

  --ifm-heading-color: #ffffff;
  --ifm-hero-text-color: #ffffff;
  --ifm-color-secondary: #f0f0f0;
  --ifm-blockquote-color: #c0c0c0;

  --ifm-code-background: #2e2f28;
  --ifm-code-color: #ffffff;
  --ifm-code-font-size: 95%;
}

/* body {
  background-color: var(--ifm-background-color);
  color: var(--ifm-hero-text-color);
}
a {
  text-decoration: none;
} */

:where(.button--dark) {
  --ifm-button-background-color: var(--ifm-background-surface-color-secondary);
  --ifm-button-border-color: var(--ifm-background-surface-color-secondary);
}

:where(.badge--grey) {
  --ifm-badge-background-color: #595b69;
  --ifm-badge-border-radius: 5px;
  font-size: 75% !important;
  font-weight: var(--ifm-font-weight-base) !important;
  margin-right: 5px !important;
}

:where(.badge--blurple-outline) {
  --ifm-badge-background-color: none;
  --ifm-badge-border-radius: 5px;
  font-weight: var(--ifm-font-weight-base) !important;
  margin-right: 5px !important;
  --ifm-badge-border-color: #5865f2;
}

:where(.button--dark):hover {
  --ifm-button-color: white;
  --ifm-button-border-color: var(--ifm-background-surface-color-secondary);
  --ifm-button-background-color: transparent;
}



.footer.footer--dark {
  --ifm-footer-background-color: var(--ifm-navbar-background-color);
}

.button {
  color: #ffffff;
}

.card {
  background-color: var(--ifm-background-surface-color-secondary);
}

.menu__link--sublist {
  text-transform: capitalize;
}

ul.breadcrumbs li.breadcrumbs__item .breadcrumbs__link {
  text-transform: capitalize;
}

details.customdetails {
  --docusaurus-details-decoration-color: #5865f2;
  background-color: inherit;
  border-color: #5865f2;
}

.center {
  text-align: center;
}

.discord-embed .discord-embed-wrapper .discord-embed-grid {
  padding-bottom: 0 !important;
}

code {
  background-color: var(--ifm-code-background) !important;
  color: var(--ifm-code-color) !important;
}

span p {
  margin:0 !important;
}

a > code {
  color: var(--ifm-link-color) !important;
}

a.contents__link > code {
  color: var(--ifm-code-color);
}

.menu--responsive > button {
  background-color: var(--ifm-color-primary);
  border-color: var(--ifm-color-primary);
}

.header-icon-link {
  padding: var(--ifm-navbar-item-padding-vertical) calc(var(--ifm-navbar-item-padding-horizontal) * 0.8);
}

.header-icon-link:hover {
  opacity: 0.6;
}

.header-download-link:before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;

  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM17 13l-5 5-5-5h3V9h4v4h3z'/%3E%3C/svg%3E") no-repeat;
}

html[data-theme='dark'] .header-download-link:before {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM17 13l-5 5-5-5h3V9h4v4h3z' style='fill:%23ffffff'/%3E%3C/svg%3E") no-repeat;
}

.header-github-link:before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

html[data-theme='dark'] .header-github-link:before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

html[data-theme='dark'] .DocSearch {
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: #2e2f28;
  --docsearch-modal-background: var(--ifm-background-color);
  --docsearch-searchbox-background: var(--ifm-background-color);
  --docsearch-searchbox-focus-background: var(--ifm-color-black);
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-emphasis-100);
  --docsearch-footer-background: var(--ifm-background-surface-color);
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    var(--ifm-color-emphasis-200) 0%,
    var(--ifm-color-emphasis-100) 100%
  );
}

.navbar__logo {
  border-radius: 50% !important;
}

.markdown > table {
  border: none;
  min-width: 160px;
}

.markdown > table td {
  min-width: 160px;
}



/* Sidebar Method labels */
.status > .menu__link {
  align-items: center;
  justify-content: start;
}

.status > .menu__link::after {
  width: 45px;
  height: 20px;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 800;
  border-radius: 0.25rem;
  border: 1px solid #ffffff;
  margin-left: 0.5rem;
  text-align: center;
  flex-shrink: 0;
}

.new > .menu__link::after {
  content: "new";
  color: #ffffff;
  border-color: var(--ifm-color-primary-darker);
}

.beta > .menu__link::after {
  content: "beta";
  color: #ffffff;
  border-color: var(--ifm-color-info);
}

.icon > .menu__link {
  align-items: center;
  justify-content: start;
}

.icon > .menu__link::before {
  margin-right: 5px;
  flex-shrink: 0;
}

.gettingstarted > .menu__link::before {
  content: '';
  filter: invert(82%) sepia(100%) saturate(25%) hue-rotate(61deg) brightness(107%) contrast(107%);
  display: inline-block;
  width: 1rem; /* Adjust the width and height as needed */
  height: 1rem;
  background-image: url("../../static/img/book.svg");
  background-repeat: no-repeat;
}

.discord-messages {
  background-color: #1a1b1f !important;
  border-color: #5865f2 !important;
  border-radius: 5px !important;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.discord-message:hover {
  background-color: #17181a !important;
}

code {
  padding-left: 3px !important;
  padding-right: 3px !important;
  border-radius: 3px !important;
}

/* .box {
  display: inline-block;
  border: 1.80px solid rgba(0, 0, 0, 0.589);
  padding-top: 0.75rem;
  padding-bottom: 0.3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: rgba(41,43,47,255);
  border-radius: 5px;
  margin-bottom: 0.25rem;
  margin-top: 0.75rem;
  .title {
    font-size: 1.5rem;
    font-weight: 800;
  }
}

.box.no-background {
  background-color: inherit;
}

.box.animation {
  transition: all 0.5s ease;
  &:hover {
    transform: translateY(-2px);
    box-shadow: black 0px 5px 15px;
  }
}

.box.shadow {
  box-shadow: black 0px 5px 15px;
}

.box.blurple {
  border: 1.75px solid #5865f2;
}

.box.red {
  border: 1.75px solid #e74c3c;
}

.box.green {
  border: 1.75px solid #2ecc71;
}

.box.yellow {
  border: 1.75px solid #fee65c;
}

.box.blue {
  border: 1.75px solid #1c97da;
} */